hr{
    width: 75%;
    margin: auto;
}

/* Goal list */
.goalList{
    margin-top: 5%;
    border: 2px green solid;
    padding:5%;
    padding-left: 7%;
}

/* buttons */
button{
    margin : 3px;
    margin-top :2%;
}

.goalForm{
    padding-top: 2%;
}

.goalsTitle{
    padding-top:4%;
}

/* QUOTES SECTION */

.quotes{
    padding-top: 1%;
    /* border: 2px solid green; */
}

#author{
    padding-top: 1%;
}