hr{
    width: 75%;
    margin: auto;
}

/* Goal list */
.goalList{
    margin-top: 5%;
}

/* buttons */
button{
    margin : 3px;
    /* padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 50% 50%; */
}