hr{
    width: 75%;
    margin: auto;
}

/* Goal list */
.goalList{
    margin-top: 5%;
    border: 2px green solid;
    padding:5%;
    padding-left: 7%;
}

/* buttons */
button{
    margin : 3px;
    margin-top :2%;
}

.container{
    margin-top : 3%;
}

.goalForm{
    padding-top: 2%;
}

.goalsTitle{
    padding-top:4%;
}

.container{
    background-color:rgb(229, 238, 238);
}

.container-fluid{
    background-color:rgb(199, 218, 218);
}

.row{
    padding-top:2%;
}

/* QUOTES SECTION */

.quotes{
    padding-bottom: 3%;
}