<div class="container">

    <div class="row">

        <div class="col-md-6">

            <h1 class="text-center">My Goals</h1>
            <hr>

            <!-- Goals list loop -->
            <ul class="goalList" *ngFor="let goal of goals, let i = index">
                <li><strong>{{goal.name | uppercase}}</strong></li>
                {{goal.description}}

                <app-goal-detail [goal]="goal"></app-goal-detail>

                <!-- See more details button -->
                <button class="btn btn-outline-primary" (click)="seeMore(i)">See More Details</button>

                <!-- Delete button -->
                <button class = "btn btn-outline-danger" (click)="delete(i)">Delete goal</button>
            </ul>

        </div>

    </div>

</div>